<template>
  <div class="page">
    <header>
      <h1>
        <span class="fade red">Red</span>
        <span class="fade coat">Coat</span>
        <br />
        <span class="fade dev">Development</span>
      </h1>
      <p class="fade sub">
        No Fuss Technical Project Management
      </p>
    </header>
    <div v-show="showScroll" class="scroll fade" @click="scroll">
      <font-awesome-icon icon="chevron-down" />
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      showScroll: true
    }
  },

  created() {
    if (typeof window !== 'undefined') {
      window.addEventListener('scroll', this.handleScroll)
    }
  },

  destroyed() {
    if (typeof window !== 'undefined') {
      window.removeEventListener('scroll', this.handleScroll)
    }
  },

  methods: {
    handleScroll() {
      this.showScroll = window.scrollY < 200;
    },

    scroll() {
      window.scrollTo({ top: 900, behavior: 'smooth' })
    }
  }
}
</script>

<style scoped>
  .page {
    background: #e7354b;
    color: white;
    position: relative;
  }

  header {
    max-width: 1440px;
    width: 90%;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
  }

  .fade {
    animation: intro .8s backwards;
  }

  .red    { animation-delay: .8s; }
  .coat   { animation-delay: 1.6s; }
  .dev    { animation-delay: 2.4s; }
  .sub    { animation-delay: 3.5s; }
  .scroll { animation-delay: 4.5s; }

  h1 span {
    font-size: 6vw;
    font-weight: bold;
  }

  p {
    margin-top: 20px;
    font-size: 3vw;
  }

  .scroll {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0.5;
    background: black;
    color: white;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    padding-top: 15px;
  }

  @keyframes intro {
    from {
      opacity: 0;
    }

    to: {
      opacity: 1;
    }
  }
</style>
  
